<div class = "container">
  <h4>管理者ログイン</h4>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <div class="field py-3">
      <label>メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field py-3">
      <label>パスワード</label>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions text-center py-3">
      <%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

